.collaboration_accounts{
    color: white;
}

.collaboration_para{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9B0032;
    width: 160px;
    padding: 0.3em;
    border-radius: 15px;
}

.collaboration_all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.collaboration_try{
    display: flex;
}

.collaboration_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3em;
}

.collaboration_learn_more{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.7rem;
    width: 180px;
    border-radius: 18px;
    gap: 1.3em;
    font-size: 15px;
}

.collaboration_anchor{
    border-bottom: 1px solid black;
        flex-direction: row;
        gap: 1em;
}

.collaboration_images{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.collaboration_standing{
    position: absolute;
    top: 0%;
    right: 10%;
    width: 500px;
}

.collaboration_message{
    position: absolute;
    top: 8%;
    left: 15%;
    width: 700px;
}

